<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title}}</title>
</head>
<body>
    <div class="main">
        <img class="logo" src="{{ static_url('images/1.png')}}">
        <div class="container">
            <h1>欢迎访问B612博客空间</h1>
            <div class="content">
                <div class="Title">
                    <p>
                        {{ blog['title'] }}
                        <span class="Time">{{ locale.format_date(blog['date'], relative=False) }}</span>
                    </p>
                </div>
                <div>
                    {{ blog['content'] }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>